{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "useBuiltIns": false,
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "plugins": ["import-graphql"]
}
